#* @vtlvariable name="action" type="com.atlassian.jira.plugins.importer.github.web.ReceiveOauthCodePage" *#
#disable_html_escaping()
$webResourceManager.requireResource("com.atlassian.jira.plugins.jira-importers-github-plugin:webResources")
#parse('/templates/admin/views/common/import-header.vm')

<div class="receiveOauthContainer">
    #if ($action.errors.get("accessToken"))
        <div class="statusMessage">
            #AUImessage("error" "" $textutils.htmlEncode($action.errors.get("accessToken")) "" "" "" "false")
        </div>

        <button id="returnButton" class="aui-button aui-button-primary" accesskey="$submitKey">
            $i18n.getText('com.atlassian.jira.plugins.importer.github.receiveOauthCode.error.return')
        </button>

        <script>
            (function($){
                $("returnButton").click(function(){
                    document.location.href = "ExternalImport1.jspa";
                });
            })(AJS.$);
        </script>
    #else
        <div class="statusMessage">
            #AUImessage("success" "" $i18n.getText('com.atlassian.jira.plugins.importer.github.receiveOauthCode.success') "" "" "" "false")
        </div>
        <div class="forwardMessage">
            <span class="aui-icon aui-icon-wait"></span>
            $i18n.getText('com.atlassian.jira.plugins.importer.github.receiveOauthCode.success.forward')
        </div>

        <script>
            document.location.href = "ImporterProjectMappingsPage!default.jspa?externalSystem=com.atlassian.jira.plugins.jira-importers-github-plugin:githubImporterKey";
        </script>
    #end
</div>

#set ($auiparams.hideButtons = true)
#parse('/templates/standard/jiraformfooter.vm')