
.hidden {
    display: none;
}


div.oauthIntro {
    margin-bottom: 30px;
}


.receiveOauthContainer div.statusMessage {
    margin-bottom: 20px;
}
.receiveOauthContainer div.forwardMessage span {
    margin-right: 8px;
}


.fetchDataContainer .loadingMessage span {
    margin-right: 8px;
}
.fetchDataContainer .fetchProgress {
    margin-top: 30px;
    margin-bottom: 30px;
}
.fetchDataContainer .fetchProgress .progress-fill-color {
    background-color: #205081;
}


.workflowMappingsContainer {
    margin-top: 20px;
    margin-bottom: 40px;
}
.workflowMappingsContainer .workflow {
    width: 400px;
}
.workflowMappingsContainer .workflow span.description {
    font-style: italic;
    color: #707070;
    margin-left: 10px;
}
.workflowMappingsContainer .workflow div.issueTypes {
    width: 355px;
    color: #707070;
    margin-top: 6px;
}
.workflowMappingsContainer .workflow div.issueTypes span {
    display: inline-block;
    margin-right: 10px;
}
.workflowMappingsContainer .workflow div.issueTypes span img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}


.labelMappingContainer p {
    margin: 10px 0px 0px 0px !important;
    padding: 0px !important;
}
.labelMappingContainer span.label {
    line-height: 14px;
}
.labelMappingContainer span.label .color {
    display: inline-block;
    width: 8px;
    height: 14px;
    border-radius: 2px 2px 2px 2px;
    margin-right: 2px;
}
.labelMappingContainer div.options {
    margin-top: 30px;
    margin-bottom: 20px;
}
.labelMappingContainer select.select {
    width: 170px !important;
}
.labelMappingContainer .jim-table {
    margin-top: 25px !important;
}